.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Migliora la gestione del layout delle celle */
}

.table thead, .table tfoot {
    background-color: #f9f9f9; /* Colore di sfondo per distinguere */
    position: sticky; /* Sticky per mantenere la posizione */
    /* z-index: -1; Assicura che l'intestazione e il footer siano sopra il corpo */
}

.table thead {
    top: 0; /* Stick alla parte superiore del contenitore */
}

.table tfoot {
    bottom: 0; /* Stick alla parte inferiore del contenitore */
}

.table tbody {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 200px); /* Altezza dinamica in base a quanto spazio deve occupare */
}

.table tbody::-webkit-scrollbar {
    width: 0px; /* Nasconde la scrollbar */
}

.scrollable {
    cursor: row-resize;
}

.table thead tr, .table tfoot tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Assicura che le colonne mantengano la stessa larghezza */
}  

.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table td, .table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    width: 25%; /* Imposta larghezza delle colonne (regolabile) */
}

.table tfoot td {
    text-align: center; /* Centra il contenuto del footer */
    padding: 12px;
}

.table th button {
    float: right;
    border: none;
    background-color: #fff;
    padding: 5px 7.5px;
    margin: 0 2.5px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.table th button:hover {
    background-color: #c0c0c0;
}

.button {
    float: right;
    border: none;
    background-color: #fff;
    padding: 5px 7.5px;
    margin: 0 2.5px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c0c0c0;
}
  
  